.font-color {
  color: red;
}
#heading {
  font-size: 69px;
}
b {
  position: relative;
  text-align: center;
  animation: moveBF 2s linear infinite;
}

@keyframes moveBF {
  0% {
    left: 0;
  }
  50% {
    left: 25px;
  }
  100% {
    left: 0;
  }
}
